{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
<script src="https://unpkg.com/imask"></script>

<style>
    .form_wrapper {
        width: 500px;
        margin: auto;
    }

    .field {
         display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        margin: 20px;
        list-style-type: none;
    }
    li {
        padding: 15px;
        background-color: blue;
        color: white;
    }

    li:hover {
        background-color: white;
    }

    li:last-child {
        border-radius: 0 10px 10px 0;
    }

    li:first-child {
        border-radius: 10px 0 0 10px;
    }

    a {
        padding: 20px;
        color: white;
    }

    a:hover {
        text-decoration: none;
    }

    li:hover {
        a {
            color: black;
        }
    }

    #form_button {
        position: relative;
        background-color: blue;
        border-radius: 10px;
        border: 0;
        color: white;
        padding: 7px 10px;

        width: 40%;

        margin: 0 30% 10px 30%;
    }
</style>

{% endblock %}
{% block css_style %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock %}
{% block body %}
    {% csrf_token %}
    <nav>
        <ul>
            <li>
                <a href="{% url 'main' %}">Главная</a>
            </li>
             <li>
                <a href="{% url 'list' %}">Список</a>
            </li>
             <li>
                <a href="{% url 'month' %}">+ месяц</a>
            </li>
             <li>
                 <a href="{% url 'graph' %}">График оплаты</a>
            </li>
<!--             <li>-->
<!--                <a href="{% url 'ATM' %}">ATM</a>-->
<!--            </li>-->
        </ul>
    </nav>
{% endblock %}
{% block main %}
<div class="form_wrapper">
    <form action="/main/done/" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="field">
            <label for="name">Имя</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div class="field">
            <label for="Surname">Фамилия</label>
            <input type="text" id="Surname" name="Surname" required>
        </div>

         <div class="field">
            <label for="Second_name">Отчество</label>
            <input type="text" id="Second_name" name="Second_name" required>
        </div>

         <div class="field">
            <label for="birthdate">Дата рождения</label>
            <input type="date" id="birthdate" name="birthdate" required>
        </div>

         <div class="field">
            <label for="seria">Серия паспорта</label>
            <input type="text" id="seria" name="seria" required>
        </div>

         <div class="field">
            <label for="pass_num">Номер паспорта</label>
            <input type="text" id="pass_num" name="pass_num" maxlength="7" minlength="7" required>
        </div>

         <div class="field">
            <label for="kem">Выдан</label>
            <input type="text" id="kem" name="kem" required>
        </div>

        <div class="field">
            <label for="date_vidachi">Дата выдачи</label>
            <input type="date" id="date_vidachi" name="date_vidachi" required>
        </div>

         <div class="field">
            <label for="idnum">Идентификационный номер</label>
            <input type="text" id="idnum" name="idnum" maxlength="14" minlength="14" required>
        </div>

         <div class="field">
            <label for="birthplace">Место рождения</label>
            <input type="text" id="birthplace" name="birthplace" required>
        </div>

        <div class="field">
            <label>Город проживания</label>
            {{cityresidence.city_of_residence}}
        </div>

        <div class="field">
            <label for="adress_residence">Адрес</label>
            <input type="text" id="adress_residence" name="adress_residence" required>
        </div>

        <div class="field">
            <label for="HomeNum">Домашний телефон</label>
            <input type="text" id="HomeNum" name="HomeNum" maxlength="7">
        </div>

         <div class="field">
            <label for="mobnum">Мобильный телефон</label>
            <input type="text" id="mobnum" name="mobnum" maxlength="13">
        </div>

         <div class="field">
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
         </div>

        <div class="field">
            <label>Город проживания</label>
           {{cityliving.city_of_living}}
        </div>

         <div class="field">
            <label for="adress_living">Адрес прописки</label>
            <input type="text" id="adress_living" name="adress_living" required>
        </div>

        <div class="field">
            <label>Семейное положение</label>
            {{relation.relation}}
        </div>

         <div class="field">
            <label>Гражданство</label>
            {{citizen.citizen}}
        </div>

        <div class="field">
            <label>Инвалидность</label>
            {{handicap.handicap}}
        </div>

         <div class="field">
            <label for="senior">Пенсионер</label>
            <input type="checkbox" id="senior" name="senior">
        </div>

        <input id="form_button" type="submit" value="Отправить">
    </form>
    </div>
{% endblock %}